.footer-section {
  @apply grid grid-rows-[auto,auto] grid-cols-4;

  &__info {
    @apply col-start-1 col-end-2 row-start-1 row-end-3;
    @apply flex justify-center items-start pl-16 py-12 bg-gray-50 flex-col;

    &-cta {
      @apply space-y-6;

      &-action {
        @apply flex flex-col;

        label {
          @apply text-gray-700 text-sm mb-2;
        }

        .phone {
          @apply text-4xl font-extrabold;
        }
      }
    }

    &-hours {
      @apply mt-6 space-y-4;

      &-block {
        label {
          @apply text-lg font-bold;
        }

        p {
        }
      }
    }
  }

  &__links {
    @apply col-start-2 col-end-5 row-start-1 row-end-2;
  }

  &__banner {
    @apply col-start-2 col-end-5 row-start-2 row-end-3 py-4 self-end;
    @apply flex justify-center;

    &-copywrite {
      @apply font-bold;
    }
  }
}

// Needs cleanup
.footer-section__links {
  @apply grid grid-cols-3;

  .block {
    @apply mt-12 mb-6 px-16 3xl:px-16 2xl:px-10 border-r border-solid last:border-r-0
      xl:last:border-t
      md:border-t md:border-r-0 md:first:border-t-0;
    border-color: rgba(#231f20, 0.25);

    .block-title {
      @apply mb-2 font-bold;
    }

    .block-list-container {
      columns: 2;

      // I really don't like this (It's making exceptions to rules already set out)
      @media (max-width: 400px) {
        columns: 1;
      }

      .block-list {
        @apply first:mr-4;

        .block-list-item {
          @apply text-sm inline-block mb-0.5 cursor-pointer hover:underline;
        }
      }
    }
  }
}
