@mixin button {
  @apply rounded-full text-gray-50 font-bold bg-gray-900 px-12 py-4 cursor-pointer duration-150 text-center no-underline
    sm:text-sm sm:px-8 sm:py-3;

  &:hover {
    @apply bg-gray-800;
  }
}

@mixin button-primary {
  @apply bg-template-primary-600 px-10 py-5 text-lg;

  &:hover {
    @apply bg-template-primary-700;
  }
}

.button.button.button {
  @include button;

  &-primary {
    @include button-primary;
  }
}
